---
---

@import "{{ site.theme }}";

nav {
  
  ul {
    list-style-type: none;
    list-stylle: none;
    padding:5;
    margin:0;
  }
  
  li {
    font-size: 20pt;
    display: inline;
  }
}

h1 {
  color: purple;
}
